<div class="container">
  <ul class="list-group">
  <% @articles.each do |article| %>
    <li class="list-group-item h2 text-muted font-weight-normal">
    <%= link_to article.title.upcase, article_path(article)%>
    <p class="h3 font-weight-light"><%= article.content %></p>
    </li>
  <% end %>
  </ul>
</div>
